## Aula 5 Video 1 - Random Forest e Bagging

In [18]:
import pandas as pd
import numpy as np 
from sklearn import tree
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import BaggingRegressor,BaggingClassifier
from sklearn.model_selection import train_test_split
from sklearn import utils,preprocessing

Download Dataset: [movies_multilinear_reg.csv](https://s3.amazonaws.com/caelum-online-public/machine-learning-aprendizado-supervisionado/movies_multilinear_reg.csv)

#### Carregando o dataset

In [2]:
filmes = pd.read_csv('datasets/movies_multilinear_reg.csv')

In [3]:
filmes.head(5)

,movieId,Titulo,Documentary,Sci-Fi,Mystery,Horror,Romance,Thriller,Crime,Fantasy,Comedy,Animation,Children,Drama,Adventure,Duracao,Investimento,Bilheteria
0,1,Toy Story (1995),0,0,0,0,0,0,0,1,1,1,1,0,1,103.468310,11.048216,5623234.602
1,2,Jumanji (1995),0,0,0,0,0,0,0,1,0,0,1,0,1,112.337916,14.927678,5714951.757
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,1,0,0,0,0,116.245732,27.114597,9524339.124
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,0,1,0,0,1,0,120.317732,4.994242,6331568.779
4,5,Father of the Bride Part II (1995),0,0,0,0,0,0,0,0,1,0,0,0,0,110.023572,19.142246,6409617.277

In [4]:
filmes.shape

(9125, 18)

#### Separando o dataset

In [5]:
filmes_caract = filmes[filmes.columns[2:17]]
filmes_labels = filmes[filmes.columns[17:]]

In [6]:
filmes_caract.head(5)

,Documentary,Sci-Fi,Mystery,Horror,Romance,Thriller,Crime,Fantasy,Comedy,Animation,Children,Drama,Adventure,Duracao,Investimento
0,0,0,0,0,0,0,0,1,1,1,1,0,1,103.468310,11.048216
1,0,0,0,0,0,0,0,1,0,0,1,0,1,112.337916,14.927678
2,0,0,0,0,1,0,0,0,1,0,0,0,0,116.245732,27.114597
3,0,0,0,0,1,0,0,0,1,0,0,1,0,120.317732,4.994242
4,0,0,0,0,0,0,0,0,1,0,0,0,0,110.023572,19.142246

In [7]:
filmes_labels.head(5)

    Bilheteria
0  5623234.602
1  5714951.757
2  9524339.124
3  6331568.779
4  6409617.277

#### Split dos datasets em treino e teste

In [8]:
treino, teste, treino_labels, teste_labels = train_test_split(filmes_caract, filmes_labels)
print('Shape do treino {}, Shape do treino_labels {}'.format(treino.shape, treino_labels.shape))
print('Shape do teste {}, Shape do teste_labels {}'.format(teste.shape, teste_labels.shape))
print('Proporção Treino / Teste: {0:.2f}% / {1:.2f}%'.format(len(treino)/len(filmes_caract)*100, len(teste)/len(filmes_caract)*100))

Shape do treino (6843, 15), Shape do treino_labels (6843, 1)
Shape do teste (2282, 15), Shape do teste_labels (2282, 1)
Proporção Treino / Teste: 74.99% / 25.01%

#### Reshaping com numpy

In [19]:
treino_arr = np.array(treino).reshape(len(treino),15)
teste_arr = np.array(teste).reshape(len(teste),15)
treino_labels_arr = treino_labels.values.ravel()
teste_labels_arr = teste_labels.values.ravel()

#### Usando modelo BaggingRegressor

In [ ]:
modelo = BaggingRegressor()
modelo.fit(treino_arr, treino_labels_arr)

In [ ]:
score_treino = modelo.score(treino_arr, treino_labels_arr)
score_teste = modelo.score(teste_arr, teste_labels_arr)
print('BaggingRegressor: Acertamos {0:.2f}% no treino, Acertamos {1:.2f}% no teste'.
      format(score_treino * 100, score_teste * 100))

#### Para comparação usando modelo LinearRegression

In [ ]:
modelo_reg = LinearRegression()
modelo_reg.fit(treino_arr, treino_labels_arr)

In [ ]:
score_treino = modelo_reg.score(treino_arr, treino_labels_arr)
score_teste = modelo_reg.score(teste_arr, teste_labels_arr)
print('LinearRegression: Acertamos {0:.2f}% no treino, Acertamos {1:.2f}% no teste'.
      format(score_treino * 100, score_teste * 100))

#### Usando BaggingRegressor(n_estimators=20)

In [ ]:
modelo_br = BaggingRegressor(n_estimators=20)
modelo_br.fit(treino_arr, treino_labels_arr)
score_treino = modelo_br.score(treino_arr, treino_labels_arr)
score_teste = modelo_br.score(teste_arr, teste_labels_arr)
print('BaggingRegressor(n_estimators=20): Acertamos {0:.2f}% no treino, Acertamos {1:.2f}% no teste'.
      format(score_treino * 100, score_teste * 100))

#### Mudando tipo do treino_label_arr para funcionar com BaggingClassifier
[link](https://stackoverflow.com/questions/41925157/logisticregression-unknown-label-type-continuous-using-sklearn-in-python)

In [31]:
encoder = preprocessing.LabelEncoder()
treino_int_arr = encoder.fit_transform(treino_labels_arr)
type(encoded[0])

numpy.int64

In [ ]:
modelo_bc = BaggingClassifier()
modelo_bc.fit(treino_arr, treino_int_arr)
previsoes = modelo_bc.predict(teste)

In [ ]:
acuracia = acuracy_score(teste_labels, previsoes)
acuracia

## Aula 4 Video 2 - Classificadores e métricas

In [ ]:
modelo_depth5 = tree.DecisionTreeRegressor(max_depth=5)
modelo_depth5.fit(treino_arr, treino_labels_arr)

In [ ]:
score_max5_treino = modelo_depth5.score(treino_arr, treino_labels_arr)
score_max5_teste = modelo_depth5.score(teste_arr, teste_labels_arr)
print('DecisionTreeRegressor(max_depth=5): Acertamos {0:.2f}% no treino, Acertamos {1:.2f}% no teste'.
      format(score_max5_treino * 100, score_max5_treino * 100))

In [ ]:
zootopia = [0,0,0,0,0,0,0,1,1,1,1,0,1,110,27.74456356]
modelo_depth5.predict([zootopia])

### Gostos do usuário

Download Dataset: [avaliacoes_usuario.csv](https://s3.amazonaws.com/caelum-online-public/machine-learning-aprendizado-supervisionado/avaliacoes_usuario.csv)

In [ ]:
gostos = pd.read_csv('datasets/avaliacoes_usuario.csv')
gostos.head(5)

In [ ]:
caract = gostos[gostos.columns[1:16]]
labels = gostos[gostos.columns[16:]]

In [ ]:
treino, teste, treino_labels, teste_labels = train_test_split(caract, labels)

In [ ]:
treino = np.array(treino).reshape(len(treino), 15)
teste = np.array(teste).reshape(len(teste), 15)
treino_labels = treino_labels.values.ravel()
teste_labels = teste_labels.values.ravel()

In [ ]:
print('Tipos: treino {}, teste {}, treino_labels {}, teste_labels {}'.
      format(type(treino), type(teste), type(treino_labels), type(teste_labels)))

#### Usando LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model = LogisticRegression()
model.fit(treino, treino_labels)

In [ ]:
previsoes = model.predict(teste)
acuracia = accuracy_score(teste_labels, previsoes)
print('Acuracia com LogisticRegression no teste: {0:.2f}%'.format(acuracia * 100))

#### Usando DecissionTreeClassifier

In [ ]:
modelo = tree.DecisionTreeClassifier()
modelo.fit(treino, treino_labels)

In [ ]:
previsoes = modelo.predict(teste)
acuracia = accuracy_score(teste_labels, previsoes)
print('Acuracia com DecisionTreeClassifier no teste: {0:.2f}%'.format(acuracia * 100))
previsoes = modelo.predict(treino)
acuracia = accuracy_score(treino_labels, previsoes)
print('Acuracia com DecisionTreeClassifier com treino: {0:.2f}%'.format(acuracia * 100))

#### Usando DecisionTreeClassifier(max_depth=5)

In [ ]:
modelo_max5 = tree.DecisionTreeClassifier(max_depth=5)
modelo_max5.fit(treino, treino_labels)
previsoes = modelo_max5.predict(teste)
acuracia = accuracy_score(teste_labels, previsoes)
print('Acuracia com DecisionTreeClassifier(max_depth=5) no teste: {0:.2f}%'.format(acuracia * 100))
previsoes = modelo_max5.predict(treino)
acuracia = accuracy_score(treino_labels, previsoes)
print('Acuracia com DecisionTreeClassifier(max_depth=5) com treino: {0:.2f}%'.format(acuracia * 100))